SalesApp/Src/SalesApp/SalesApp/Client/bin/
SalesApp/Src/SalesApp/SalesApp/Client/obj/
SalesApp/Src/SalesApp/SalesApp/Server/obj/
SalesApp/Src/SalesApp/SalesApp/Shared/obj/
SalesApp/Src/SalesApp/SalesApp/Shared/bin/
SalesApp/Src/SalesApp/SalesApp/Server/bin/
SalesApp/Src/SalesApp/.vs/
SalesSolution/Sales.Api/bin/
SalesSolution/Sales.Api/obj/
SalesSolution/.vs/
SalesSolution/Sales.App/obj/
SalesSolution/Sales.App/bin/
SalesSolution/Sales.Models/obj/
SalesSolution/Sales.Models/bin/
SalesSolution/Sales.BLL/obj/
SalesSolution/Sales.DAL/bin/
SalesSolution/Sales.DAL/obj/
SalesSolution/Sales.Service/obj/
SalesSolution/Sales.Service/bin/
SalesSolution/Sales.Repository/obj/
SalesSolution/Sales.Model/obj/
SalesSolution/Sales.Model/bin/
SalesSolution/Sales.DDL/obj/
SalesSolution/Sales.BLL/bin/
SalesSolution/Sales.DTO/obj/
SalesSolution/Sales.DTO/bin/
SalesSolution/Sales.API/Logs/
SalesSolution/Sales.LIB/obj/
SalesSolution/Sales.LIB/bin/
