SalesApp/Src/SalesApp/SalesApp/Client/bin/
SalesApp/Src/SalesApp/SalesApp/Client/obj/
SalesApp/Src/SalesApp/SalesApp/Server/obj/
SalesApp/Src/SalesApp/SalesApp/Shared/obj/
SalesApp/Src/SalesApp/SalesApp/Shared/bin/
SalesApp/Src/SalesApp/SalesApp/Server/bin/
SalesApp/Src/SalesApp/.vs/
SalesSolution/Sales.Api/bin/
SalesSolution/Sales.Api/obj/
SalesSolution/.vs/
SalesSolution/Sales.App/obj/
SalesSolution/Sales.App/bin/
