@page "/"

@inherits OrderBase

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            @if (Orders.IsNull())
            {
                <h3>Loading orders...</h3>
            }
            else
            {
                <h3 class="mb-5">All Orders</h3>
                <OrderTable Orders="Orders" OnOrderSelected="ShowWindowsAsync" OnChange="OnOrderChangeAsync"></OrderTable>
            }
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            @if (Windows.IsNull())
            {
                <h3>Loading windows...</h3>
            }
            else
            {
                <h3 class="mb-5">Windows of @CurrentOrder.Name (@CurrentOrder.State)</h3>
                <WindowTable Order="CurrentOrder" Windows="Windows" OnWindowSelected="ShowSubElementsAsync" OnChange="OnWindowChangeAsync"></WindowTable>
            }

            @if (SubElements == null)
            {
                <h3>Loading sub elements...</h3>
            }
            else
            {
                <h3 class="mb-5">Sub elements of selected Window</h3>
                <SubElementTable SubElements="SubElements"></SubElementTable>
            }
        </div>
    </div>
</div>
